In [2]:
import pandas as pd
import numpy as np

In [ ]:
final_report = pd.read_csv('./data/final_report.csv')
summary = pd.read_csv('./data/summary.csv')

In [5]:
summary

,Company,Revenue Growth (%),Net Income Growth (%),Assests Growth (%),Total Liabilities Growth (%),Cash Flow Growth (%)
0,Apple,-6.401084,-0.745905,-0.149388,-0.227092,18.197250
1,Microsoft,-6.662011,-5.792492,-10.334330,-6.396540,-12.278619
2,Tesla,-16.583422,-24.064303,-15.771471,-10.480864,1.889005

In [6]:
final_report

,Index,Company,Year,Total Revenue,Net Income,Total Assets,Total Liabilities,Cash Flow,Unnamed: 8,Unnamed: 9,Revenue Growth (%),Net Income Growth (%),Assests Growth (%),Total Liabilities Growth (%),Cash Flow Growth (%)
0,1,Apple,2023,8200,96995,352583,290437,24977,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000
1,2,Apple,2022,7500,99808,352755,302083,35929,0.0,0.0,-8.536585,2.900149,0.048783,4.009820,43.848340
2,3,Apple,2021,6700,94680,351002,287912,39789,0.0,0.0,-10.666667,-5.137865,-0.496945,-4.691095,10.743411
3,4,Microsoft,2024,245122,88136,512163,243686,5570,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000
4,5,Microsoft,2023,211915,72361,411976,205753,4263,0.0,0.0,-13.547132,-17.898475,-19.561546,-15.566344,-23.464991
5,6,Microsoft,2022,198270,72738,364840,198298,3693,0.0,0.0,-6.438902,0.520999,-11.441443,-3.623276,-13.370866
6,7,Tesla,2023,96773,14974,106618,43009,17189,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000
7,8,Tesla,2022,81462,12556,82338,36440,16924,0.0,0.0,-15.821562,-16.147990,-22.772890,-15.273547,-1.541684
8,9,Tesla,2021,53823,5519,62131,30548,18144,0.0,0.0,-33.928703,-56.044919,-24.541524,-16.169045,7.208698

In [30]:
def chatbot():
    print("\nEnter your query:")
    user_input = input()
    if user_input == "What is the total revenue":
        revenue = final_report[(final_report["Year"]==fiscal_year) & (final_report['Company'] == company_name)]['Total Revenue'].values[0]
        return f"The total revenue for {company_name} in {fiscal_year} is {revenue}"
    elif user_input == "What is the Net Income":
        income = final_report[(final_report["Year"]==fiscal_year) & (final_report['Company'] == company_name)]['Net Income'].values[0]
        return f"The Net Income for {company_name} in {fiscal_year} is {income}"
    elif user_input == "What is the sum of total Assets":
        assets = final_report[(final_report["Year"]==fiscal_year) & (final_report['Company'] == company_name)]['Total Assets'].values[0]
        return f"The total assets for {company_name} in {fiscal_year} is {assets}"
    elif user_input == "What is the sum of total Liabilities":
        liabilities = final_report[(final_report["Year"]==fiscal_year) & (final_report['Company'] == company_name)]['Total Liabilities'].values[0]
        return f"The total liabilities for {company_name} in {fiscal_year} is {liabilities}"
    elif user_input == "What is the cashflow":
        cashflow = final_report[(final_report["Year"]==fiscal_year) & (final_report['Company'] == company_name)]['Cash Flow'].values[0]
        return f"The cash flow for {company_name} in {fiscal_year} is {cashflow}"
    elif user_input == "What is the revenue growth":
        growth = final_report[(final_report["Year"]==fiscal_year) & (final_report['Company'] == company_name)]['Revenue Growth (%)'].values[0]
        return f"The net growth for {company_name} in {fiscal_year} is {growth}"
    elif user_input == "What is the Net Income Growth":
        growth = final_report[(final_report["Year"]==fiscal_year) & (final_report['Company'] == company_name)]['Net Income Growth (%)'].values[0]
        return f"The net income growth for {company_name} in {fiscal_year} is {growth}"
    elif user_input == "What is the total Assets Growth":
        growth = final_report[(final_report["Year"]==fiscal_year) & (final_report['Company'] == company_name)]['Assets Growth (%)'].values[0]
        return f"The total assets growth for {company_name} in {fiscal_year} is {growth}"
    elif user_input == "What is the total Liabilities Growth":
        growth = final_report[(final_report["Year"]==fiscal_year) & (final_report['Company'] == company_name)]['Total Liabilities Growth (%)'].values[0]
        return f"The total liabilities growth for {company_name} in {fiscal_year} is {growth}"
    elif user_input == "What is the cashflow growth":
        growth = final_report[(final_report["Year"]==fiscal_year) & (final_report['Company'] == company_name)]['Cash Flow Growth (%)'].values[0]
        return f"The cash flow growth for {company_name} in {fiscal_year} is {growth}"
    elif user_input == "What is the revenue growth rate":
        growth = summary[summary['Company'] == company_name]['Revenue Growth Rate (%)'].values[0].round(4)
        return f"The revenue growth rate for {company_name} for the three years 2021 to 2023 is {growth}"
    elif user_input == "What is the Net Income growth rate":
        growth = summary[summary['Company'] == company_name]['Net Income Growth Rate (%)'].values[0].round(4)
        return f"The Net Income growth rate for {company_name} for the three years 2021 to 2023 is {growth}"
    elif user_input == "What is the total Assets growth rate":
        growth = summary[summary['Company'] == company_name]['Total Assets Growth Rate (%)'].values[0].round(4)
        return f"The total assets growth rate for {company_name} for the three years 2021 to 2023 is {growth}"
    elif user_input == "What is the total Liabilities growth rate":
        growth = summary[summary['Company'] == company_name]['Total Liabilities Growth Rate (%)'].values[0].round(4)
        return f"The total liabilities growth rate for {company_name} for the three years 2021 to 2023 is {growth}"
    elif user_input == "What is the cashflow growth rate":
        growth = summary[summary['Company'] == company_name]['Cash Flow Growth Rate (%)'].values[0].round(4)
        return f"The cash flow growth rate for {company_name} for the three years 2021 to 2023 is {growth}"
    elif user_input == "What is the revenue growth rate for all companies":
        growth = summary['Revenue Growth Rate (%)'].mean().round(4)
        return f"The average revenue growth rate for all companies for the three years 2021 to 2023 is {growth}"
    else:
        return "Invalid input. Please try again"

In [32]:
while True:
    print("------------------------------------")
    user_query = input("Enter Hi to start or type 'exit' to quit: ").lower()
    if user_query == "exit":
        break
    elif user_query == "hi":
        print("Welcome to the Financial Chatbot")
        print("Please enter the fiscal year (2021, 2022, 2023):")
        print("\n1.Microsoft \n2.Tesla \n3.Apple")
        company_input = input("Enter company name : ").capitalize()
        if company_input not in ['Apple', 'Microsoft', 'Tesla']:
            print("Invalid Company Name. Please check and enter correct company name by starting the chatbot session again")
            break
        else:
            print("\nThe data for the fiscal year 2023, 2022, and 2021 is currently available")
            fiscal_year = int(input("The fiscal year for the selected company : "))
            if fiscal_year not in [2023, 2022, 2021]:
                print("Please enter a valid fiscal year by starting the chatbot session again")
                break
    else:
        print("Enter Hi again to restart or type 'exit' to quit")
        break
    response = chatbot()
    print(response)

------------------------------------
Welcome to the Financial Chatbot
Please enter the fiscal year (2021, 2022, 2023):

1.Microsoft
2.Tesla
3.Apple

The data for the fiscal year 2023, 2022, and 2021 is currently available

Enter your query:
The cash flow for Tesla in 2022 is 16924
------------------------------------